# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
dnload
forum.html
phpmyadmin
tmp
.bash_history

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
